$primary-color : hsl(26, 100%, 55%);
$paleOrange : hsl(25, 100%, 94%);
$blue: hsl(220, 13%, 13%);



$blue-grey : hsl(220, 14%, 75%);
$dark-grey-blue : hsl(219, 9%, 45%);
$light-grey : hsl(223, 64%, 98%);




$White: hsl(0, 0%, 100%);
$Black:  hsl(0, 0%, 0%)