@import url("http://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @import url("https://fonts.google.com/specimen/Kumbh+Sans");

@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html{
    height: 100%;
    width: 100%;
    font-size: 62.5%
}
 body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    cursor: pointer ;
}
:root{

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #app{
        width: 100%;
        height: 100%;
    }

    ul {
        display: flex;
        list-style: none;
        font-size: 1.6rem;
        padding: unset;
    }
}

.navbar{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    margin: auto;

    .nav_links{
        display: flex;
        ul {
            display: flex;
            list-style: none;
            font-size: 1.6rem;
            padding: unset;
    
            li {
                padding: 0px 16px;
                
            }
            li a {
                text-decoration: none;
                color: black;
    
                &:hover{
                    border-bottom: 4px solid $primary-color;
                }
            }
        }
    }
  

    .nav_profile {

        ul {
            display: flex;
            li:not(:last-child) {
                align-self: center;
                padding: 0px 7rem;
            }
        }

        figure{
            height: 50px;
            width: 50px;
        }

        svg{
            align-self: center;
        }
    }
}


.product{
    display: flex;
    max-width: 60%;
    margin: auto;
    // justify-content: center;
    margin-top: 8rem;
    // gap: 5rem;

    .product_images{
        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
        .main_image{
            min-height: 400px;
            min-width: 400px;
        }
        .sub_images{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            gap: 1rem;

            div{
                max-height: 100px;
                max-width: 100px;
            }
        }   
    }

    .product_info{
        align-self: center;
        margin-left: 32px;
        .title {
            font-weight: 700;
            color: $primary-color;
            font-size: 1.6rem;
        }

        .subtitle{
            font-weight: 900;
            font-size: 4rem;
        }

        .product_description{
            font-size: 1.6rem;
            color : $dark-grey-blue;
            margin: 3rem 0px;
        }

        .product_price{
            font-size: 3rem;
            font-weight: bolder;
            display: flex;
            align-items: center;

            span{
                display: inline-block;
                background-color: $paleOrange;
                color: $primary-color;
                font-size: 1.4rem;
                font-weight: bold;
                padding: 2px 10px;
                border-radius: 5px;   
                margin-left: 1.6rem;       
              }
        }
        .product_discount{
            font-size: 1.6rem;
            text-decoration: line-through;
            color: $dark-grayish-blue;
            font-weight: bold;
            margin-bottom: 3rem;
        }

        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            .cart_counter{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.6rem;
                width: 200px;
                border-radius: 5px;
                padding: 1rem;
                height: 50px;
                background-color: $light-grayish-blue;
                
    
                p{
                    font-weight: bold;
                }
            }

            button {
                flex-grow: 1;
                background-color: $primary-color;
                color : $White;
                border: none;
                border-radius: 5px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 1.6rem;

                svg{
                    margin-right: 3rem;
                    align-self: center;
                    path{
                        fill: $White !important;
                    }
                }
                
                // svg path{
                    
                // }
            }
        }

        
    }

}


// @media (max-width : 1024px) {
//     .navbar{
//         justify-content: center;
//         padding: 1rem;
//     }
  
// }

