@import url("http://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @import url("https://fonts.google.com/specimen/Kumbh+Sans");

@import './variables.scss';
@import './_helpers.scss';
@import './_navbar.scss';
@import './_sidebar.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html{
    height: 100%;
    width: 100%;
    font-size: 62.5%
}
 body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    cursor: pointer ;
}
:root{

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #app{
        width: 100%;
        height: 100%;
    }

    ul {
        display: flex;
        list-style: none;
        font-size: 1.6rem;
        padding: unset;
    }

    ::-webkit-scrollbar{
        width: 0;
    }
}




.product{
    display: flex;
    max-width: 60%;
    margin: auto;
    margin-top: 8rem;

    &.detail{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;

        .main_image {
            position: relative
        }
        .sub_images{
            width: 80%;
            flex: calc(100% / 4);
            justify-content: center;
            align-items: center;
            margin: auto;
            

        }

        .header_icon{
            height: 50px;
            width: 50px;
            position: absolute;
            top: -40px;
            right: -14px;
        }

        .icon_container{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(-50%);
            
            &.nextIcon{
                top: 50%;
                bottom: 50%;
                right: -50px;
            }

            &.previousIcon{
                top: 50%;
                bottom: 50%;
                left: 0px;
            }

            #element:hover{
                stroke: $primary-color;
                fill: none;
            }
 
        }

        svg {
            fill: white;
            
            :hover{
                fill: $primary-color;
            }
        }
    }
    .product_images{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
        .main_image{
            height: -webkit-fill-available;
        }
        .sub_images{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            gap: 1rem;

            div{
                max-height: 100px;
                max-width: 100px;
            }

            .active{
                border : 2px solid $primary-color;
                border-radius: 12px;
                background: white;
                opacity: .8;

                img {
                    opacity : .5;
                    box-sizing: border-box;
                }
           
            }
            
        }   
    }

    .product_info{
        align-self: center;
        margin-left: 32px;
        .title {
            font-weight: 700;
            color: $primary-color;
            font-size: 1.6rem;
        }

        .subtitle{
            font-weight: 900;
            font-size: 4rem;
        }

        .product_description{
            font-size: 1.6rem;
            color : $dark-grey-blue;
            margin: 3rem 0px;
        }

        .product_price{
            font-size: 3rem;
            font-weight: bolder;
            display: flex;
            align-items: center;

            span{
                display: inline-block;
                background-color: $paleOrange;
                color: $primary-color;
                font-size: 1.4rem;
                font-weight: bold;
                padding: 2px 10px;
                border-radius: 5px;   
                margin-left: 1.6rem;       
              }
        }
        .product_discount{
            font-size: 1.6rem;
            text-decoration: line-through;
            color: $dark-grey-blue;
            font-weight: bold;
            margin-bottom: 3rem;
        }

        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            .cart_counter{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.6rem;
                width: 200px;
                border-radius: 5px;
                padding: 1rem;
                height: 50px;
                background-color: $light-grey ;
                
    
                p{
                    font-weight: bold;
                }
            }

          
        }

        
    }

}


.cart_container {
    height: 250px;
    width: 350px;
    position: absolute;
    background-color: white;
    top: 70px;
    left: -110px;
    border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  
    .cart_header {
      padding: 16px;
      border-bottom: 1px solid $blue-grey;
      font-size: 1.6rem;
      font-weight: bold;
    }

    .cart_content{
        height: calc(100% - 58px);
        display: grid;
        place-items: center;
        padding: 16px;

        .product_detail{
            display: flex;
            justify-content: center;
            align-items: center;
            figure{
                width: 50px;
                height: 50px;
                margin-right: 10px;
                 img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                 }
            }
            p {
                font-size: 1.6rem;
                color: $dark-grey-blue;
                span {
                    display: block;
                    strong {
                        color: $Black;
                        font-weight: 700;
                    }
                }
            }
            svg {
                margin-left: 12px;
                align-self: center;
            }
        }
       
    }
  }


  .images_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
  }



@media screen and (max-width: 1024px) {
    .product{
        max-width: 90%;
        flex-direction: column;

        .product_info{
            margin: 16px 0px;

            .buttons{
                flex-wrap: wrap;
            }
        }
    }
}