@import url("http://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @import url("https://fonts.google.com/specimen/Kumbh+Sans");

@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
//   position: relative;
  font-weight: normal;
}

html{
    // width: 100vw;
    height: 100vh;
    font-size: 62.5%
}
 body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    cursor: pointer ;
}
:root{

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #app{
        width: 100%;
        height: 100%;
    }
}

.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;

    .nav_links{
        display: flex;
        flex: 0 1 62%;
        justify-content: center;
    }
    ul {
        display: flex;
        list-style: none;
        font-size: 1.6rem;

        li {
            padding: 0px 16px;
        }
        li a {
            text-decoration: none;
            color: black;

            &:hover{
                border-bottom: 4px solid $primary-color;
            }
        }
    }

    .nav_profile {

        display: flex;
        flex: 0 2 38%;
        justify-content: center;

        div {
            min-width: 150px;
            display: flex;
            justify-content: space-between;
        }

        figure{
            max-width: 50px;
            max-height: 50px;
        }

        svg{
            align-self: center;
        }
    }
}


.product{
    display: flex;
    max-width: 60%;
    margin: auto;
    margin-top: 8rem;

    .product_images{
        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
        .main_image{
            // height: 30rem;
            // max-height: 500px;
        }
        .sub_images{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            div{
                max-height: 100px;
                max-width: 100px;
            }
        }   
    }

    .product_info{
        align-self: center;
        .title {
            font-weight: 700;
            color: $primary-color;
            font-size: 1.6rem;
        }

        .subtitle{
            font-weight: 900;
            font-size: 4rem;
        }

        .product_description{
            font-size: 1.6rem;
        }
    }

}


// @media (max-width : 750px) {
    
//    html{
//     font-size: 50%;
//    }
// }

